@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=The+Nautigal&display=swap');
*{
    margin: 0%;
    padding: 0%;
    position: relative;
/*
Font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima, Arial", "sans-serif";
font-family: 'The Nautigal', 'cursive';
*/
    font-family: 'Noto Sans', sans-serif;
}
.App{
    font-family: 'The Nautigal', 'cursive';
    
}
.Button{
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 3px;
    margin: auto;
    display: flex;
    align-items: center;

}
.Button:hover{
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
}
@media (max-width: 700px){
    .Button{
        border: 2.5px solid darkgoldenrod;
        border-radius: 10px;
        padding: 3px;
        margin: auto;
        min-height: 65%;
        display: flex;
        align-items: center;
    }
    .Button:hover{
        border: 2.5px solid black;
        border-radius: 10px;
        padding: 5px;
        margin: auto;
        min-height: 65%;
        display: flex;
        align-items: center;
    }
}