*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: url("./image/MarmolWhite1.jpg");
  background-size: 100%;
  Font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima, Arial", "sans-serif"
}