.ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.Lable{
    margin-bottom: 5px;
}
.Input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2.5px solid darkgoldenrod;
    padding: 0 10px;
    margin-bottom: 15px;
}
.TextArea{
    border-radius: 10px;
    border: 2.5px solid darkgoldenrod;
    padding: 0 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.Attach{
    border-radius: 10px;
    border: 2.5px solid darkgoldenrod;
    margin-bottom: 15px;
}
.button_submit_contact_form {
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

input[type=file]::file-selector-button {
    border: 2px solid goldenrod;
    padding: .2em .4em;
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: gray;
    border: 2px solid black;
  }