.Footer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 40% 30% 10% 10%;
}
.FooterItem{
    margin-left: 30%;
    margin-right: 0%;
}
.FooterTitle{
    font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima, Arial", "sans-serif";
}
.Button{
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 3px;
}
.Button:hover{
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 5px;
}
.SendResume{
    margin-left: 0%;
}