.Footer{
    background: url('../../image/MarmolWhite1.jpg');
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.FooterItem{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.FooterTitle{
    display: flex;
    align-items: center;
    font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima, Arial", "sans-serif";

}

.Button_Contact{
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
    margin-right: auto;
}
.Button_Contact:hover{
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-right: auto;
}

@media (max-width: 700px){
    .Footer{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    .FooterItem{

    }
}