.Profesional{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfesionalCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Profesional__item{
    margin: 5vh 9vw;
    padding: 5px;
}