.SlideShow{
    background: url("#");
    display: flex;
    justify-content: center;
    align-items: center;
}
.Slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
.CarouselImg{
    height: 333px;
    width: auto;
}
.LeftControllers{
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 3.5px;
    margin: auto;

}
.LeftControllers:hover{
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 3.5px;
    margin: auto;
}
.RightControllers{
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 3.5px;
    margin: auto;
}
.RightControllers:hover{
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 3.5px;
    margin: auto;
}
.Name{}
.Profession{}