.NavBar {
    display: grid;
    grid-template-columns: repeat(7, 12%);
    grid-template-rows: 100px;
    align-items: center;
}

.Logo__Menu{
    margin-left: 2%;
    width: 65px;
}

.Button__Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid darkgoldenrod;
    border-radius: 10px;
    padding: 3.5px;
    margin: 10px;
    overflow: hidden;
    max-height: 50%;
    min-height: 50%;
}
.Button__Menu:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid black;
    border-radius: 10px;
    padding: 3.5px;
    margin: 10px;
    overflow: hidden;
    max-height: 75%;
    min-height: 75%;
}
.active{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid goldenrod;
    border-radius: 10px;
    padding: 3.5px;
    margin: 10px;
    overflow: hidden;
    max-height: 50%;
    min-height: 50%;
}

@media (max-width: 700px){
    .NavBar{
        background: url('../../image/rozado.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Logo__Menu{
        width: 65px;
    }
    .Button__Menu{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.5px solid darkgoldenrod;
        border-radius: 10px;
        padding: 3.5px;
        margin: 10px;
        overflow: hidden;
        font-size: 50px;
        max-width: 80%;
    }
    .Button__Menu:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.5px solid black;
        border-radius: 10px;
        padding: 3.5px;
        margin: 10px;
        overflow: hidden;
        font-size: 50;
        max-width: 80%;
    }
    .active{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid goldenrod;
        border-radius: 10px;
        padding: 3.5px;
        margin: 10px;
        overflow: hidden;
        font-size: 50px;
        max-width: 80%;
    }
}